# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# VC dir
mrParticleGeoShader/vs2010/ipch/
mrParticleGeoShader/vs2010/x64/
*.opensdf